@model BlogModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Edit Blog";
    var today = DateTime.Now.ToString("yyyy-MM-ddTHH:mm");
}

@if (ViewData["ViewMessage"] != null)
{
    <p class="text-danger">@ViewData["ViewMessage"]</p>
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="Edit">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="alert alert-danger"></div>
            
            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="CreatedAt" class="form-label"></label>
                <input asp-for="CreatedAt" class="form-control" type="datetime-local" value="@Model.CreatedAt.ToString("yyyy-MM-ddTHH:mm")" max="@today" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="UpdatedAt" class="form-label"></label>
                <input asp-for="UpdatedAt" class="form-control" type="datetime-local" value="@today" max="@today" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-outline-secondary">Reset</button>
                <a asp-action="Index" class="btn btn-link">Back to List</a>
            </div>
        </form>
    </div>
</div>
